<div class="row">
  <div class="col-12 table-responsive-md">
    <table class="table">
      <thead>
        <tr>
          <th>Skill Name</th>
          <th></th>
        </tr>
      </thead>

      <tbody *ngIf="showSpinner">
        <tr>
          <td colspan=3 id="spinner">
            <span class="fa fa-spinner fa-spin" style="font-size: 60px;"></span>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="(!skillGroup) || skillGroup?.length ===0">
        <tr>
          <td >
            <h5>{{errorMessage}}</h5>
          </td>
        </tr>
      </tbody>
      <tbody *ngFor="let skills of skillGroup;">

        <tr *ngIf="skills">
          <td title={{skills?.name}} class="align-middle" id="tdname" #name>{{skills?.name}} </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
